* {
    font-size: 30px;
    color: #E5E0E0;
}

.calculator {
    display: flex;
    flex-direction: column;

    gap: 8px;
    background-color: #E5E0E0;
    padding: 16px;
    border-radius: 12px;
    width: 400px;
    height: 500px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: #212529;
}

.row {
    display: flex;
    flex: 1;
    gap: 16px;
}

button {
    border-radius: 8px;
    background-color: #212529;
}

.row button {
    flex: 1;
    outline: none;
}

.delete {
    display: flex;
    flex: 1;
    gap: 8px;
}

.delete button {
    flex: 1;
    outline: none;
}

.screen {
    background-color:#212529;
    border-radius: 4px;
    flex: 1.5;
    padding: 8px;
}

.num-ops {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 8px;
}