* {
    font-size: 30px;
    color: snow;
}

.calculator {
    display: flex;
    flex-direction: column;

    gap: 8px;
    background-color: #B7D3DF;
    padding: 16px;
    border-radius: 12px;
    width: 400px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: #898AA6;
}

.row {
    display: flex;
    flex: 1;
    gap: 16px;
}

button {
    border-radius: 8px;
    background-color: #C9BBCF;
    border: 2px solid #898AA6;
}

button:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
.row button {
    flex: 1;
    outline: none;
}

.delete {
    display: flex;
    height: 70px;
    gap: 8px;
}

.delete button {
    flex: 1;
    outline: none;
}

.screen {
    background-color:#C9BBCF;
    border-radius: 8px;
    border: 2px solid #898AA6;
    padding: 8px;
    min-height: 100px;
    overflow-wrap: break-word;
}

.num-ops {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 300px;
}